@import "tailwindcss";
:root {
  --font-hev: 'Helvetica Neue', sans-serif;
   --background: #ffffff;
  --foreground: #171717;
}

@layer base {
  html {
    font-family: var(--font-hev);
  }
}


body {
  font-family: var(--font-hev);
}

.nav-link {
@apply text-sm tracking-wide text-black/80 transition hover:text-black;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
 --font-hev: var(--font-hev);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}


@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee {
  animation: marquee 35s linear infinite;
}


.marquee:hover {
  animation-play-state: paused;
}
